@import 'vars';
@import 'svg-ui';
@import 'svg-animations';
@import 'loading-animation';
@import 'book';
@import 'page';
@import 'page-content';

html {
  font-size: 62.5%;
  height: 100vh;

  --color-primary: #212121;
  --body-height: 100vh;
}

body {
  counter-reset: figure-counter page-counter appendix-counter;

  box-sizing: border-box;
  color: $clr-primary;

  font-family: 'EB Garamond', serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  position: relative;
  height: var(--body-height);

  &[data-state="loading"] {
    .book { opacity: 0; } 
  }
  &[data-state="loading-background"] {
    .book_nav { opacity: 0; } 
  }

  &[data-page="first"] {
    .book_nav_toc, .book_nav_backward {
      display: none;
    }
  }

  &[data-page="last"] {
    .book_nav_forward {
      display: none;
    }
  }

  &[data-state="resizing"] {
    .book {
      display: none;
    }

    .book_cover {
      counter-reset: x var(--window-width) y var(--window-height);
      color: silver;
      font-family:'Courier New', Courier, monospace;
      font-size: 1.2rem;
          
      &:before {
        content: '[' counter(x) ' x ' counter(y) ']';
      }
    }
  }
}

hr {
  border: 0;
  border-top: 1px solid var(--color-primary);
  width: 25%;
}